.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-around; /* Evenly distribute the sections */
    align-items: flex-start; /* Align sections at the top */
    flex-wrap: wrap; /* Make responsive for smaller screens */
  }
  
  .footer-section {
    flex: 1; /* Equal width for each section */
    min-width: 200px; /* Minimum width for smaller screens */
    margin: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  

  
  .footer_top
  {
    height: 50px;
    background-color: #37475a;
    display: flex ;
  justify-content: center;  
  align-items: center;
  font-size: 0.85rem;
 }
 .footer_bottom{
background-color: #232F3E;
height: 300px;
display: flex;
justify-content: space-evenly;

 }
 ul{
  margin-top: 20px;
 }
 ul a {
  margin-top: 10px;
display: block;

font-size:0.85rem ;
 }

.foot-panel3{
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: #232F3E;
}

.foot-panel4{
  height: 80px;
  background-color: #0f1111;
 text-align: center;}

.copyright{
  margin-top:5px ;
  font-size:0.7rem ;
 
 }

 .panel{
  padding-top: 23px;
  font-size:0.8rem ;
 }